<!DOCTYPE html>
<html>
<head>
  <title>Stalker</title>
  <%= stylesheet_link_tag    "stalker/application" %>
  <%= javascript_include_tag "stalker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
